<div id="footer-wrapper">
  <footer id="footer">
<!--     <div id="resources">
      <h3>Why We Do What We Do</h3>
      <ul>
        <li><a href="#">Statement of Faith</a></li>
        <li><a href="#">Baptism</a></li>
        <li><a href="#">Lord's Supper</a></li>
        <li><a href="#">Membership</a></li>
      </ul>
    </div>
    <div id="posts">
      <h3>Featured Blog Posts</h3>
      <ul>
        <li><a href="#">Deacons as "Husband of One Wife"</a></li>
        <li><a href="#">Church Membership and Sad Movies</a></li>
        <li><a href="#">Read Through the Bible 2012</a></li>
        <li><a href="#">A Brief History of Christmas</a></li>
      </ul>
    </div>
    <div id="contact">
      <h3>Contact</h3>
      <p>
        P.O. Box 12345<br />
        Blacksburg, VA 24060<br />
        (123) 456-7890<br />
        <a href="#">email@domain.com</a>
      </p>
      <a class="facebook" href="#">Visit us on Facebook</a>
    </div> -->
    <p>
      P.O. Box 992<br />
      Blacksburg, VA 24060<br />
      (540) 808-6084<br />
      <a href="mailto:ekklesia.blacksburg@gmail.com">ekklesia.blacksburg@gmail.com</a>
    </p>
  </footer>
</div>
