<div class="podcasts">
  <header><h3>Podcasts</h3></header>
  <ul>
    <li>
      <a href="#">Ecclesiastes 4:4-6</a><br />
      <span class="date">November 6, 2011</span>
    </li>
    <li>
      <a href="#">Ecclesiastes 3:16-4:3</a><br />
      <span class="date">November 5, 2011</span>
    </li>
    <li>
      <a href="#">Ecclesiastes 3:1-15</a><br />
      <span class="date">November 4, 2011</span>
    </li>
    <li>
      <a href="#">Ecclesiastes 1:12-2:26</a><br />
      <span class="date">November 3, 2011</span>
    </li>
    <li>
      <a href="#">Ecclesiastes 1:1-11</a><br />
      <span class="date">November 2, 2011</span>
    </li>
    <li>
      <a href="#">Honoring God with Thankfulness</a><br />
      <span class="date">November 1, 2011</span>
    </li>
  </ul>
</div>
