#footer-wrapper {
  background-color: #2e2e2e;
  color: #ddd;
  margin-top: 20px;
  padding: 20px;
  @include clearfix;

  h3 {
    color: #fff;
  }
}

#footer {
  @include container;
}

#resources {
  @include column(8);
}

#posts {
  @include column(8);
  @include push(1);
}

#contact {
  @include column(6, true);
  @include push(2);
}
