@import 'layout/base';
@import 'layout/header';
@import 'layout/masthead';
@import 'layout/content';
@import 'layout/footer';

#body {
  @include column(17, true);
  @include push(1);
}

#sidebar {
  @include column(6);
}

div.article + div.article {
  border-top: 1px solid #d8d8cc;
  margin-top: 20px;
  padding-top: 20px;
}
