@import 'compass/reset';
@import 'compass/css3/box-shadow';

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}
