#header-wrapper,
#masthead-wrapper,
#content-wrapper,
#footer-wrapper {
  padding: 20px;
  @include clearfix;
}

#header,
#masthead,
#content,
#footer {
  margin: 0 auto;
  padding: 0 10px;
  width: 869px;
}

#header-wrapper {
  background-color: #2e2e2e;
  background-image: url('../images/header-bg.png');
  background-position: top center;
  background-repeat: repeat-x;
  padding-top: 25px;
}

#logo {
  background: url('../images/logo.png') top left no-repeat;
  float: left;
  display: block;
  height: 80px;
  text-indent: -9000px;
  width: 197px;
}

#primary-nav {
  float: right;

  li {
    float: left;
    margin: 30px 0 30px 20px;
    padding-left: 20px;

    a {
      display: block;
      color: #ddd;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      @include text-shadow(rgba(0, 0, 0, 1.0) 0 1px 3px);

      &:hover {
        color: #fff;
      }
    }
  }
}

#masthead-wrapper {
  background-color: #e6e6dd;
  border-top: 1px solid #d8d8cc;
  border-bottom: 1px solid #d8d8cc;
  padding: 20px;
  @include box-shadow(rgba(0, 0, 0, 0.3) 0 -1px 5px);
}

#overview {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;

  p.quote {
    font-style: italic;
    font-weight: 300;
    letter-spacing: 1px;

    span.reference {
      font-weight: 400;
    }
  }
}

#footer-wrapper {
  background-color: #2e2e2e;
  margin-top: 20px;
}

.column {
  &.left {
    float: left;
    width: 599px;
  }

  &.right {
    float: right;
    margin-left: 50px;
    width: 220px;
  }
}
