@import 'base';
@import 'header';
@import 'masthead';
@import 'content';
@import 'footer';

div.map {
  border: 1px solid #d8d8cc;
  margin-bottom: 20px;
}

div.podcasts {
  @include box-shadow(rgba(0, 0, 0, 0.3) 0 1px 3px);

  header {
    border-top: 4px solid #016e9d;
    padding: 0 10px;

    h3 {
      border-bottom: 1px dotted #d8d8cc;
      margin-bottom: 0;
      padding: 10px 0;
    }
  }

  ul {
    padding: 10px;
  }

  li + li {
    margin-top: 10px;
  }

  span.author,
  span.date {
    color: #777;
    font-size: 11px;
  }
}
