<div id="header-wrapper">
  <header id="header">
    <div id="logo">
      <a href="/">
        <h1>Ekklesia Blacksburg</h1>
        <h2>of the SBCV</h2>
      </a>
    </div>
    <nav id="primary-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/name">About</a></li>
        <li><a href="/ministries/worship">Ministries</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="http://ekklesiablacksburg.wordpress.com" target="_blank">Blog</a></li>
      </ul>
    </nav>
  </header>
</div>
