/* line 17, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, sass/layout/_base.scss */
body {
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

/* line 16, sass/layout/_base.scss */
a {
  color: #016e9d;
  text-decoration: none;
}

/* line 21, sass/layout/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

/* line 28, sass/layout/_base.scss */
h1 {
  font-size: 24px;
}

/* line 32, sass/layout/_base.scss */
h2 {
  font-size: 20px;
}

/* line 36, sass/layout/_base.scss */
h3 {
  font-size: 16px;
  font-weight: 400;
}

/* line 41, sass/layout/_base.scss */
p {
  margin-bottom: 20px;
}

/* line 45, sass/layout/_base.scss */
p:last-child {
  margin-bottom: 0;
}

/* line 1, sass/layout/_header.scss */
#header-wrapper {
  background-color: #2e2e2e;
  background-image: url("../images/header-bg.png");
  background-position: top center;
  background-repeat: repeat-x;
  padding: 20px;
  padding-top: 25px;
  overflow: hidden;
  *zoom: 1;
}

/* line 11, sass/layout/_header.scss */
#header {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 15, sass/layout/_header.scss */
#logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 230px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #logo {
  overflow-x: hidden;
}
/* line 18, sass/layout/_header.scss */
#logo a {
  background: url("../images/logo.png") center left no-repeat;
  display: block;
  height: 75px;
  text-indent: -9000px;
  width: 197px;
}

/* line 27, sass/layout/_header.scss */
#primary-nav {
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #primary-nav {
  overflow-x: hidden;
}
/* line 30, sass/layout/_header.scss */
#primary-nav ul {
  float: right;
}
/* line 34, sass/layout/_header.scss */
#primary-nav li {
  float: left;
  margin: 25px 0 25px 20px;
  padding-left: 20px;
}
/* line 40, sass/layout/_header.scss */
#primary-nav a {
  display: block;
  color: #ddd;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  text-shadow: black 0 1px 3px;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 50, sass/layout/_header.scss */
#primary-nav a:hover {
  color: #fff;
}

/* line 1, sass/layout/_masthead.scss */
#masthead-wrapper {
  background-color: #e6e6dd;
  border-top: 1px solid #d8d8cc;
  border-bottom: 1px solid #d8d8cc;
  padding: 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 5px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 5px;
  overflow: hidden;
  *zoom: 1;
}

/* line 10, sass/layout/_masthead.scss */
#masthead {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 14, sass/layout/_masthead.scss */
#overview {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #overview {
  overflow-x: hidden;
}
/* line 18, sass/layout/_masthead.scss */
#overview p.quote {
  font-size: 28px;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 40px;
}
/* line 25, sass/layout/_masthead.scss */
#overview p.quote span.reference {
  font-size: 13px;
  font-weight: 400;
}
/* line 31, sass/layout/_masthead.scss */
#overview p {
  font-size: 16px;
  line-height: 24px;
}

/* line 37, sass/layout/_masthead.scss */
#slideshow {
  display: inline;
  float: left;
  margin-right: 0;
  width: 430px;
  display: inline;
  float: left;
  position: relative;
  margin: 0 -40px 1.5em 40px;
  margin-bottom: 0;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #slideshow {
  overflow-x: hidden;
}

/* line 1, sass/layout/_content.scss */
#content-wrapper {
  padding: 20px;
  overflow: hidden;
  *zoom: 1;
}

/* line 6, sass/layout/_content.scss */
#content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  overflow: visible;
}

/* line 11, sass/layout/_content.scss */
#body {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 670px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #body {
  overflow-x: hidden;
}

/* line 15, sass/layout/_content.scss */
#sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
  display: inline;
  float: left;
  position: relative;
  margin: 0 -40px 1.5em 40px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #sidebar {
  overflow-x: hidden;
}

/* line 1, sass/layout/_footer.scss */
#footer-wrapper {
  background-color: #2e2e2e;
  color: #ddd;
  display: none;
  margin-top: 20px;
  padding: 20px;
  overflow: hidden;
  *zoom: 1;
}
/* line 9, sass/layout/_footer.scss */
#footer-wrapper h3 {
  color: #fff;
}

/* line 14, sass/layout/_footer.scss */
#footer {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 19, sass/layout/_footer.scss */
#resources,
#posts {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #resources, * html
#posts {
  overflow-x: hidden;
}
/* line 22, sass/layout/_footer.scss */
#resources a,
#posts a {
  color: #ddd;
}

/* line 27, sass/layout/_footer.scss */
#posts {
  display: inline;
  float: left;
  position: relative;
  margin: 0 -40px 1.5em 40px;
}

/* line 31, sass/layout/_footer.scss */
#contact {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
  display: inline;
  float: left;
  position: relative;
  margin: 0 -80px 1.5em 80px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p0@ekklesia.github.com/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #contact {
  overflow-x: hidden;
}

/* line 7, sass/home.scss */
div.map {
  border: 1px solid #d8d8cc;
  margin-bottom: 20px;
}

/* line 12, sass/home.scss */
div.podcasts {
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}
/* line 15, sass/home.scss */
div.podcasts header {
  border-top: 4px solid #016e9d;
  padding: 0 10px;
}
/* line 19, sass/home.scss */
div.podcasts header h3 {
  border-bottom: 1px dotted #d8d8cc;
  margin-bottom: 0;
  padding: 10px 0;
}
/* line 26, sass/home.scss */
div.podcasts ul {
  padding: 10px;
}
/* line 30, sass/home.scss */
div.podcasts li + li {
  margin-top: 10px;
}
/* line 35, sass/home.scss */
div.podcasts span.author,
div.podcasts span.date {
  color: #777;
  font-size: 11px;
}
