@import 'compass/reset';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/text-shadow';
@import 'compass/css3/transition';
@import 'compass/utilities/general/clearfix';
@import "blueprint";

body {
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
}

a {
  color: #016e9d;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

b, strong {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

ol, ul {
  li {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}
