---
section: About Ekklesia
layout: subpage
---

<div id="sidebar">
  <ul class="subnav">
    <li><a href="/about/name">About the Name</a></li>
    <!-- <li><a href="#">Sunday Services</a></li> -->
    <!-- <li><a href="#">Children's Meetings</a></li> -->
    <li><a href="/about/elders">Elders</a></li>
    <li><a href="/about/beliefs">Statement of Faith</a></li>
    <li><a href="/about/covenant">Church Covenant</a></li>
    <li><a href="/about/missions">Missions</a></li>
    <li><a href="/about/affiliation">Affiliation</a></li>
  </ul>
</div>
<div id="body">
  <h2>{{ page.title }}</h2>
  {{ content }}
</div>
