---
layout: base
stylesheet: /assets/stylesheets/home.css
---

<div id="masthead-wrapper">
  <div id="masthead">
    <div id="overview">
      <p class="quote">
        Making the manifold wisdom of God known. <span class="reference">Ephesians 3:10</span>
      </p>
      <p>
        Believers dedicated to glorifying Christ as we seek to love one another,
        pray with one another, read the Scriptures with one another, and
        encourage one another in Jesus' call to discipleship.
      </p>
    </div>
    <div id="slideshow">
      <img src="/assets/images/slideshow/john.jpg" />
      <img src="/assets/images/slideshow/becca.jpg" />
      <img src="/assets/images/slideshow/guys.jpg" />
      <img src="/assets/images/slideshow/vt_sign.jpg" />
    </div>
  </div>
</div>
<div id="content-wrapper">
  <div id="content">
    <div id="body">
      {{ content }}
    </div>
    <div id="sidebar">
      {% include social.html %}
      {% include podcasts.html %}
      {% include twitter.html %}
    </div>
  </div>
</div>

<script type="text/javascript">

  $('#slideshow').cycle({
    fx: 'fade',
    timeout: 10000
  });

</script>
