---
layout: base
stylesheet: /assets/stylesheets/home.css
---

<div id="masthead-wrapper">
  <div id="masthead">
    <div id="overview">
      <p class="quote">
        Making the manifold wisdom of God known. <span class="reference">Ephesians 3:10</span>
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et
        consectetur tellus. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Sed et consectetur tellus. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Sed et consectetur tellus.
      </p>
    </div>
    <div id="slideshow"><img src="http://dummyimage.com/430x234" /></div>
  </div>
</div>
<div id="content-wrapper">
  <div id="content">
    <div id="body">
      {{ content }}
    </div>
    <div id="sidebar">
      {% include podcasts.html %}
    </div>
  </div>
</div>
